@use '../variables.scss' as *;

.content-box {
    display: flex;
    height: 640px;
    border-radius: $border-radius;
    overflow: hidden;
    margin: 0 0 160px;
    @media(max-width: $screen-lg) {
        height: auto;
        margin: 0 0 120px;
    }
    @media(max-width: $screen-md) {
        border-radius: 0;
        margin: 0 0 96px;
    }
    &.reverse {
        flex-direction: row-reverse;
         @media(max-width: $screen-lg) {
            flex-direction: column;
        }
    }
    @media(max-width: $screen-lg) {
        flex-direction: column;
    }
    img {
        @media(max-width: $screen-lg) {
            display: flex;
            width: 100%;
        }
    }
    &.location {
        height: 320px;
        gap: 30px;
        margin: 0 0 32px;
        .box-left, .box-right {
            border-radius: $border-radius;
        }
        .box-left {
            img, iframe {
                border-radius: $border-radius;
                border: none;
                height: 100%;
            }
        }
    }
    .box-left {
        flex-basis: 0;
        flex-grow: 1;
    }
    .box-right {
        background: $light-pink;
        flex-basis: 0;
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 95px;
        @media(max-width: $screen-lg) {
            text-align: center;
            padding: 60px;
        }
        @media(max-width: $screen-md) {
            padding: 60px 24px;
        }
        h1 {
            color: $peach;
        }
        p {
            color: $dark-gray;
        }
        .addresses {
            display: flex;
            .address {
                flex-basis: 0;
                flex-grow: 1;
            }
        }
    }
}