@use '../variables.scss' as *;

.get-in-touch {
    display: flex;
    justify-content: space-between;
    padding: 46px 95px;
    background-color: $peach;
    align-items: center;
    border-radius: $border-radius;
    background-image: url('/assets/web-design/desktop/bg-pattern-intro-web.svg');
    background-repeat: repeat-y;
    background-position-x: right;
    background-position-y: center;
    position: relative;
    top: 72px;
    @media(min-width: $screen-md) and (max-width: $screen-lg)  {
        padding: 60px;
    }
    @media(max-width: $screen-lg) {
        flex-direction: column;
        text-align: center;
        gap: 32px;
        
    }
    @media(max-width: $screen-md) {
        padding: 64px 24px;
    }
    .touch-left {
        color: $white;
        width: 40%;
        @media(max-width: $screen-lg) {
            width: auto;
        }
    }
}