@use '../variables.scss' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0;
    @media(max-width: $screen-md) {
        padding: 35px 0;
    }
    .header-left {
        a {
            display: flex;
            gap: 16px;
            &:hover {
                border: none;
            }
        }
        img {
            height: 24px;
            width: auto
        }
    }
    .header-right { 
        .desk-menu {
            display: flex;
            gap: 42px;
            @media(max-width: $screen-md) {
                display: none;
            }
            a {
                font-size: 14px;
                line-height: 14px;
                text-transform: uppercase;
                color: $black;
                text-decoration: none;
                letter-spacing: 2px;
                &:hover {
                    border-bottom: 1px solid;
                }
            }
        }
        .mobile-menu {
            display: none;
            @media(max-width: $screen-md) {
                display: flex;
            }
        }
    }
}
.menubar {
    position: absolute;
    left: 0;
    background: $black;
    color: $white;
    width: 100%;
    padding: 48px 24px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    nav {
        display: flex;
        flex-direction: column;
        gap: 32px;
        a {
            &:hover {
                border: none;
            }
        }
    }
}