@use '../variables.scss' as *;

.values {
    display: flex;
    gap: 30px;
    margin: 0 0 160px;
    .value {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $dark-gray;
        flex-basis: 0;
        flex-grow: 1;
        img {
            width: 202px;
            height: 202px;
            position: relative;
            z-index: 2;
            background-image: url('/assets/about/desktop/bg-pattern-hero-about-desktop.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
        h3 {
            text-transform: uppercase;
        }
    }
}