@use './variables.scss' as *;
@use './components/header.scss' as *;
@use './components/home-banner.scss' as *;
@use './components/courses.scss' as *;
@use './components/values.scss' as *;
@use './components/get-in-touch.scss' as *;
@use './components/footer.scss' as *;
@use './components/templates.scss' as *;
@use './components/content-box.scss' as *;

/*--Typography--*/
@font-face {
	font-family: 'Jost';
	src: url('./fonts/Jost-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
    font-family: 'Jost';
    src: url('./fonts/Jost-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Jost';
    src: url('./fonts/Jost-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Jost';
    src: url('./fonts/Jost-Medium.ttf') format('truetype');
    font-weight: 500;
}
body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 500;
    @media(max-width: $screen-md) {
        font-size: 32px;
        line-height: 36px;
    }
}
h2 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 2px;
    font-weight: 500;
    @media(max-width: $screen-md) {
        font-size: 28px;
        line-height: 36px;
    }
}
h3 {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 5px;
    font-weight: 500;
}
p {
    font-size: 16px;
    line-height: 26px;
}
button {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 18px 24px;
    border-radius: 8px;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    text-decoration: none;
    &.primary {
        background-color: $peach;
        color: $white;
    }
    &.light {
        background: $white;
        color: $dark-gray;
    }
    &.link {
        background: transparent;
        padding: 0;
        &:hover {
            background: transparent;
            color: inherit;
        }
    }
    &:hover {
        background: $light-peach;
        color: $white;
    }
}
a {
    color: inherit;
    text-decoration: none;
    background: transparent;
    &:hover {
        border-bottom: 1px solid;
    }
    &.link {
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 18px 24px;
        border-radius: 8px;
        transition: 0.5s;
        cursor: pointer;
        border: none;
        text-decoration: none;
        &.light {
            background: $white;
            color: $dark-gray;
        }
        &.primary {
            background-color: $peach;
            color: $white;
        }
        &:hover {
            background: $light-peach;
            color: $white;
        }
    }
}
.container {
    width: 90%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    &.home {
        @media(max-width: $screen-md) {
            padding: 0;
            margin: 0;
            width: 100%;
            max-width: 100%;
        }
    }
}

@media (min-width: $screen-sm) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: $screen-md) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: $screen-lg) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: $screen-xl) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: $screen-xxl) {
    .container {
        max-width: 1320px;
    }
}